{% extends "base.html" %}
{% load static %}

{% block title %}<title>Об авторе проекта</title>{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<img src="{% static 'img/girl.png' %}"
width="200" height="250"
class="d-inline-block align-top" alt="">
<p>
  Меня зовут Арина. Вот мой гитхаб: https://github.com/sukhovarina. 
  А резюме скрыто на хедхантере, чтобы начальник не узнал, чем я тут балуюсь.
</p>
<p> 
    Я же вообще не программист по специальности...
</p>
<p>
    Ощущаю себя в мире программированию по-всякому. В основном очень неуверенно.
    Но я стараюсь больше заниматься, чтобы обрести эту самую уверенность.
 
</p>
<p>
    Если у меня что-то не получается, я прошу помощи у друзей. 
    Они программисты. Но стараюсь не злоупотреблять, пытаюсь разбираться сама.
</p>
<p>
    Хочу получить работу разработчика до следующего лета *fingerscrossed*
</p>
{% endblock %} 